* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cardColor {
    padding: 10px 0;
    text-align: center;
   height: 460px;
   width: 400px;
   border-radius: 10px;
   box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.cardColor h1 {
    padding: 5px 5px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.cardColor .btnColor p {
    padding: 5px 5px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.cardColor .btnColor button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    color: lightcoral;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.7);
}

.cardColor .btnColor h4 {
    margin-top: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardColor .rangeColor{
   text-align: center;
   padding: 10px 10px;
}

.cardColor .rangeColor h4 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardColor .rangeColor .rangeInput{
    display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 15px;

}

.cardColor .rangeColor .rangeInput input {
    margin-bottom: 15px;
}

.cardColor .rangeColor .rangeInput p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#refresh {
   width: 90px;
   height: 38px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    color: lightcoral;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.7);
}

